<div class="infoContainer">
  <h1 class="header">Add new airplane</h1>
  <form [formGroup]="airplaneForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Enter airplane name:</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Name">
      <mat-error>
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter airplane number of seats:</mat-label>
      <input type="number" matInput formControlName="seatsNumber" placeholder="Seats number">
      <mat-error>
        Number of seats is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter airplane max weight:</mat-label>
      <input type="number" matInput formControlName="maxWeight" placeholder="max weight">
      <mat-error>
        Max weight is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="airportField" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of airplaneStatuses | keyvalue" [value]="status.value">
          {{status.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button class="addButton" [disabled]="!airplaneForm.valid">Add</button>
  </form>
  <button mat-raised-button class="goBackButton" routerLink="/admin/menu">Back to the menu</button>
</div>


