form {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.signUpButton {
    margin: auto;
    text-align: center;
    width: 5em;
    font-size: 16px;
    background-color: #bcd30b;
    color: #ffffff;
}

.userIsLoggedIn {
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logOutButton {
    margin-top: 2em;
}

.header {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bolder;
    color: dimgrey;
}

.mat-raised-button {
    margin-top: 2em;
    font-size: 16px;
    background-color: #bcd30b;
    color: dimgrey;
}

.actionButtons {
    align-items: center;
    display: flex;
    flex-direction: column;
}
