div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

form {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.signUpButton {
  margin: auto;
  text-align: center;
  width: 5em;
  font-size: 16px;
  background-color: #bcd30b;
  color: #ffffff;
}

.signUpButton {
  height: 2.5em;
  width: 7em;
  color: #404040;
  font-weight: bolder;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.header {
  margin-top: 2em;
}

.goBackButton {
  margin-top: 2em;
  color: #404040;
}
