<div class="infoContainer">
  <h1 class="header">Airports info</h1>
  <div>
    <button mat-raised-button class="addButton" routerLink="/admin/airports/new">Add new airport
    </button>
  </div>

  <div class="searchArea">

    <mat-form-field class="searchField" appearance="outline">
      <input #airport
             placeholder="Enter airport name or city"
             matInput
             [matAutocomplete]="auto"
             (click)="search('')"
             (input)="search(airport.value)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option class="searchResultOption" *ngFor="let airport of airports$ | async" [value]="airport"
                    routerLink="/admin/airports/{{airport.id}}">
          {{airport.city}}, {{airport.country}}<br>
          <q class="airportName">{{airport.name}}</q>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <button mat-raised-button class="goBackButton" routerLink="/admin/menu">Back to the menu</button>
</div>
