<div class="infoContainer">
  <h1 class="header">Add new airport</h1>
  <form [formGroup]="airportForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Enter airport name:</mat-label>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error>
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter airport city:</mat-label>
      <input matInput formControlName="city" placeholder="City">
      <mat-error>
        City is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter airport country:</mat-label>
      <input matInput formControlName="country" placeholder="country">
      <mat-error>
        Country is required
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button class="signUpButton" [disabled]="!airportForm.valid">Add</button>
  </form>
  <button mat-raised-button color="accent" class="goBackButton" routerLink="/admin/menu">Back to the menu</button>
</div>


