<div *ngIf="airplane" class="infoContainer">
  <h1 class="header">Airplane info</h1>
<form [formGroup]="airplaneForm">
  <div class="infoArea">
        <div><h2>id: {{airplane.id}}</h2></div>
        <h3>Name:</h3>
        <mat-form-field class="airplaneField" appearance="outline">
          <input formControlName="name" placeholder="name"
                 matInput/>
        </mat-form-field>

        <h3>Seats number:</h3>
        <mat-form-field class="airplaneField" appearance="outline">
          <input formControlName="seatsNumber" placeholder="city"
                 matInput/>
        </mat-form-field>

        <h3>MaxWeight:</h3>
        <mat-form-field class="airplaneField" appearance="outline">
          <input formControlName="maxWeight" placeholder="country"
                 matInput/>
        </mat-form-field>

        <h3>Status:</h3>
        <mat-form-field class="airplaneField" appearance="outline">
          <mat-label>{{airplane.status}}</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of airplaneStatuses | keyvalue" [value]="status.value">
              {{status.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
</form>

  <h3 *ngIf="this.theCabin.length > 0" class="schemeHeader">Airplane scheme</h3>

  <div *ngIf="this.theCabin.length > 0" class="sector">
    <div *ngFor="let sectorName of this.theCabin" class="innerSector">
      <div *ngFor="let innerSector of sectorName" class="column">
        <div *ngFor="let column of innerSector" class="seat">
          <div *ngFor="let seat of column" class="seatAppearance">
            {{seat.column + seat.number}}
          </div>
        </div>
        <br/>
        <br/>
      </div>
    </div>

  </div>

  <div *ngIf="message" class="mat-error">
    {{message}}
  </div>

  <div class="buttonsContainer">
    <div>
      <button mat-raised-button color="accent" class="saveButton" (click)="onSave()">Save</button>
    </div>
    <div>
      <button mat-raised-button color="accent" class="deleteButton" (click)="onDelete()">Delete airplane</button>
    </div>
    <button mat-raised-button color="accent" class="goBackButton" routerLink="/admin/airplanes">Back to the
      airplanes
    </button>
    <button mat-raised-button color="accent" class="goBackButton" routerLink="/admin/menu">Back to the menu</button>
  </div>
</div>
