.infoArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.buttonsContainer {
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.assButton{
    margin-top: 1em;
    float: right;
}

.fieldsContainer{
    display: flex;
    flex-direction: row;
}

.airportField {
    font-size: 16px;
    margin-left: 1em;
}

.goBackButton {
    color: #404040;
}

.mat-option {
    border: #bcd30b solid 1px;
    height: auto;
    line-height: 1.5em;
}
