.infoContainer {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.mat-selection-list {
    border-bottom: #97b703 solid 2px;
}

.mat-list-option {
    width: 100%;
    border-top: #97b703 solid 2px;
}

h1 {
    font-weight: bolder;
    font-family: "Helvetica Neue", sans-serif;
    color: dimgrey;
    font-size: 30px;
    text-align: center;
}

.mat-raised-button {
    margin-top: 3em;
    font-size: 16px;
    background-color: #bcd30b;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}

section {
    font-weight: bolder;
    font-family: "Helvetica Neue", sans-serif;
    color: dimgrey;
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
}
