<div *ngIf="!userService.isLoggedIn" class="loggedOutContainer">
  <h2 class="header">Log in</h2>
    <form class="logInForm" [formGroup]="userInfo">
      <mat-form-field appearance="outline">
        <mat-label>Enter email:</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error>
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter password:</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          Please enter a valid password
        </mat-error>
      </mat-form-field>
      <a class="forgotPassword" routerLink="/resetPassword">Forgot password?</a>
    </form>
  <div class="logInButtonContainer">
    <button mat-raised-button class="logInButton" [disabled]="!userInfo.valid" (click)="logIn()">Log in</button>
  </div>
  <p *ngIf="message" id="error_message" class="mat-error">{{this.message}}</p>
</div>
