<div class="main_container">
  <form [formGroup]="myForm" >
    <div class="airports">
      <mat-form-field class="direction_field">
        <input #departureAirportIdInput
               placeholder="From:"
               matInput
               formControlName="departureAirportId"
               [matAutocomplete]="auto"
               (click)="search('')"
               (input)="search(departureAirportIdInput.value)">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                          (optionSelected)="setDepartureAirportId($event.option.value)">
          <mat-option *ngFor="let airport of airports" [value]="airport">
            {{airport.city}}, {{airport.country}}<br>
            <q class="airport_name">{{airport.name}}</q>
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          The field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="direction_field">
        <input #arrivalAirportIdInput
               placeholder="To:"
               matInput
               formControlName="arrivalAirportId"
               [matAutocomplete]="auto2"
               (click)="search('')"
               (input)="search(arrivalAirportIdInput.value)"
        >
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn"
                          (optionSelected)="setArrivalAirportId($event.option.value)">
          <mat-option *ngFor="let airport of airports" [value]="airport">
            {{airport.city}}, {{airport.country}}<br>
            <q class="airport_name">{{airport.name}}</q>
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          The field is required
        </mat-error>
      </mat-form-field>
    </div>

    <mat-radio-group
      aria-label="Select an option"
      class="radio_buttons"
      (ngModelChange)="OnTicketTypeChange($event)"
      formControlName="ticketType">
      <mat-radio-button value='OneWay'>One way</mat-radio-button>
      <mat-radio-button value='Return'>Return</mat-radio-button>
    </mat-radio-group>

    <div class="dates">
      <mat-form-field appearance="outline" class="datePicker">
        <mat-label>Choose departure date</mat-label>
        <input matInput [min]="today" [max]="maxDate" [matDatepicker]="picker"
               (ngModelChange)="setDateTo($event)" formControlName="dateTo">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="datePicker" *ngIf="ticketType === 'Return'">
        <mat-label>Choose return date</mat-label>
        <input matInput required [min]="minDate" [matDatepicker]="picker"
               (ngModelChange)="setDateBack($event)" formControlName="dateBack">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="ticketsNumber">
      <mat-form-field class="example-full-width">
        <mat-label>Enter number of tickets</mat-label>
        <input matInput (ngModelChange)="setTicketsNumber($event)" formControlName="ticketsNumber">
      </mat-form-field>
    </div>

    <div class="submit_button">
      <button type="submit" mat-flat-button [disabled]="!myForm.valid" id="search" routerLink="/search"
      (click)="sendSearchRequest()"
      >Search</button>
    </div>
  </form>
</div>
