.flightField {
  font-size: 17px;
  margin-top: 1em;
  width: 100%;
}

button.goBackButton {
  color: #404040;
}

button.addButton {
  color: #404040;
}

.airportField {
  font-size: 17px;
  margin-top: 1em;
  width: 100%;
}

.mat-option {
  border: #bcd30b solid 1px;
  height: auto;
  line-height: 1.5em;
}

.results {
  margin-bottom: 2em;
}
