<div class="infoContainer">
  <h1 class="header">Tickets info</h1>
  <div>
    <button mat-raised-button color="accent" class="addButton"
            routerLink="/admin/flights/tickets/{{flightId ? flightId : 0}}/new">Add new ticket
    </button>
  </div>
  <div class="list">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let ticket of tickets$ | async" [value]="ticket"
                       routerLink="/admin/tickets/{{ticket.id}}">
        {{ticket.ticketType.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <button mat-raised-button color="accent" class="goBackButton" routerLink="/admin/flights">Back to the flights</button>
</div>
