form {
    display: flex;
    flex-direction: column;
}

.addButton {
    text-align: center;
    background-color: #bcd30b;
    height: 2em;
    width: 7em;
    color: #404040;
    font-weight: bolder;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    margin-left: auto;
    margin-right: auto;
}


.goBackButton {
    margin-top: 2em;
    color: #404040;
}
