.buttonsContainer {
  height: 58em;
}

.chooseActionButton,
.addUser,
.logOutButton,
.accountButton {
  color: #404040;
  font-size: 26px;
  margin: auto;
  height: 4em;
  width: 20em;
}

.userControlButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #404040;
  font-size: 26px;
  margin: auto;
  width: 20em;
  height: 4em;
}

.addUser,
.logOutButton,
.accountButton {
  height: 3em;
  width: 9em;
}
