<div class="buttonsContainer">
  <h1 class="header">Menu</h1>
  <button mat-raised-button color="accent" class="chooseActionButton" routerLink="/admin/airports">Airport info</button>
  <button mat-raised-button color="accent" class="chooseActionButton" routerLink="/admin/airplanes">Airplane info
  </button>
  <button mat-raised-button color="accent" class="chooseActionButton" routerLink="/admin/flights">Flight info</button>
  <div class="userControlButtons">
    <button mat-raised-button color="accent" class="addUser" routerLink="/admin/registration">Add new user</button>
    <button mat-raised-button color="accent" class="accountButton" routerLink="/admin/account">Account</button>
  </div>
  <button mat-raised-button color="accent" class="logOutButton" routerLink="/admin/registration">Log out</button>
</div>
