<div class="mainContainer">
  <form  [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Enter old password:</mat-label>
      <input matInput formControlName="oldPassword" [type]="oldHide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="oldHide = !oldHide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="oldHide">
        <mat-icon>{{oldHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter password:</mat-label>
      <input matInput formControlName="newPassword" [type]="newHide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="newHide = !newHide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="newHide">
        <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password:</mat-label>
      <input matInput formControlName="confirmPassword" [type]="confirmHide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="confirmHide">
        <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        Passwords don't match
      </mat-error>
    </mat-form-field>
    <p *ngIf="message" class="mat-error">{{message}}</p>
    <button type="submit" mat-raised-button class="signUpButton">Sign up</button>
  </form>
</div>
