<div *ngIf="this.userService.isLoggedIn && user" class="accountInfoContainer">]
  <form>
<!--    <p class="header">Account</p>-->
<!--    <div class="fieldsContainer">-->
<!--      <div class="userInfo">-->
<!--        <h2 class="fieldName">First name:</h2>-->
<!--        <mat-form-field class="example-full-width" appearance="outline">-->
<!--          <input matInput [(ngModel)]="user.firstName" required>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="userInfo">-->
<!--        <h2 class="fieldName">Last name:</h2>-->
<!--        <mat-form-field class="example-full-width" appearance="outline">-->
<!--          <input matInput [(ngModel)]="user.lastName" required>-->
<!--        </mat-form-field>    </div>-->
<!--      <div class="userInfo">-->
<!--        <h2 class="fieldName">Email:</h2>-->
<!--        <mat-form-field class="example-full-width" appearance="outline">-->
<!--          <input matInput [(ngModel)]="user.email" required>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="userInfo">-->
<!--        <h2 class="fieldName">Date of birth:</h2>-->
<!--        <mat-form-field fxFlex>-->
<!--          <input matInput [matDatepicker]="datepicker1" placeholder="Start Date">-->
<!--          <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>-->
<!--          <mat-datepicker touchUi="true" #datepicker1></mat-datepicker>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
  </form>
  <button mat-raised-button class="saveButton" (click)="save()">Save changes</button>
  <button mat-raised-button class="backButton" routerLink="/airline/account" >Back</button>
</div>
