<div class="infoContainer">
  <h1 class="header">Add new airport</h1>
  <form [formGroup]="airportForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Enter airport name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error>
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter airport city</mat-label>
      <input matInput formControlName="city" placeholder="City">
      <mat-error>
        City is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter airport country</mat-label>
      <input matInput formControlName="country" placeholder="country">
      <mat-error>
        Country is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of airportStatuses | keyvalue" [value]="status.value">
          {{status.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="message" class="mat-error">
      {{message}}
    </div>

    <button type="submit" mat-raised-button class="addButton" [disabled]="!airportForm.valid">Add</button>
  </form>
  <button mat-raised-button class="goBackButton" routerLink="/admin/menu">Back to the menu</button>
</div>


