<div class="input_container">
  <form>
    <mat-form-field class="direction_field">
      <input #searchBox
             placeholder="From:"
             matInput
             required
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (click)="search(searchBox.value)"
             (input)="search(searchBox.value)"
      >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setDeparture($event.option.value.id)">
        <mat-option *ngFor="let airport of airports$ | async" [value]="airport">
          {{airport.city}}, {{airport.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form>
    <mat-form-field class="direction_field">
      <input #searchBox2
             placeholder="To:"
             matInput
             required
             [formControl]="myControl"
             [matAutocomplete]="auto2"
             (click)="search(searchBox2.value)"
             (input)="search(searchBox2.value)"
      >
      <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setArrival($event.option.value.id)">
        <mat-option *ngFor="let airport of airports$ | async" [value]="airport">
          {{airport.city}}, {{airport.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</div>
